/// COLORES DE FONDO
$bg_gris: rgb(241, 241, 241);
$bg_blanco: white;
$bg-color-azul:#1C69D4;
$bg-color-verde:#84D020;

/// COLORES DE FUENTE

$fn-color-negro:black;
$fn-color-verde:#84D020;
$fn-color-gris:rgb(137, 137, 137);
